*{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
li{
    list-style: none;
}
.head1,.foot2{
    background-color: black;
    color: white;
    height: 30px;
}
.left{
     margin-left: 50px;
 }
.left>span{
    margin-right: 30px;
}
.right>span:nth-child(1),.right>span:nth-child(2){
    margin-right: 30px;
}
.right{
    margin-right: 150px;
}
.img{
    width:20px;
    height:20px;
    margin-top: 5px;
    vertical-align:bottom;
}

.lflot{
    float: left;
}
.rflot{
    float: right;
}
.heart{
    width: 1000px;
    margin: 0 auto;
}
.logo img{
    width: 80px;
    margin:20px 420px;
}
nav ul{
    width:700px;
    margin: 0 auto;
    height: 30px;
}
.menu{
    border-bottom:2px solid black;
}
nav li{
    float: left;
    padding: 5px 40px;
}

/*内容1*/
.content1{
    width: 900px;
    margin:15px auto;
    padding-bottom:20px;
    border-bottom: 2px solid gray;
}

table{
    margin: 0 auto;
}
input{
    width:230px;
    height: 20px;
}
form{
    margin-top: -30px;
}
button{
    background-color: brown;
    color: white;
    border: none;
    padding: 3px 35px;
    margin: 30px 0 0 830px;
}
/*页脚*/
.foot{
    border-top:2px solid black;
    margin-top: 20px;
}
.foot>div{
    margin-left:70px;
}
.foot p{
    font-size: 14px;
}
.foot h4{
    margin: 10px 0;
}
.icon>div{
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}
.foot2{
    clear: both;
}
